<% include ./partials/header%>
<!-- Header -->
<header id="home" style="font-family: 'Roboto Slab', serif;">
  <div class="masthead">
    <div class="image jumbotron" style="background: url('/img/header.jpg') no-repeat center;
        background-size: cover;"
         data-paroller-factor="0.5"
         data-paroller-factor-xs="0.2">
      <div class="container" style="margin-top: 6em">
        <h1 class="heading">WorkOrder Application</h1>
        <a class="btn btn-large smooth-scroll" style="background: #1C2331 ;margin-left: 36em; color: white;" href="#features">Let's Start</a>
      </div>
    </div>
  </div>
</header>

<!--Features-->
<section id="features" class="featuresPanel" style="font-family: 'Roboto Slab', serif;">
  <div class="container" style="padding: 7em;">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="pull-right" style="padding-bottom: 2em;font-weight: bold">Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 fadeInUp">
        <h4 >Fast Client Import from your contacts</h4>
        <h4>Auto-Population of technician information</h4>
        <h4>Speech to text Capabilities to fill in Work Order data</h4>
        <h4>Take photos while working on your WorkOrder</h4>
        <h4>Get Client Signatures is a Breeze!</h4>
        <h4>Sync your work orders between all of your devices with Dropbox integration</h4>
        <h4>Add additional technicians for multiple technician jobs</h4>

      </div>
      <div class="col-md-6 fadeInUp">
        <h4>Quickly add Parts, Services, Recommendations, and Notes</h4>
        <h4>E-Mail yourself, your billing person, and your client with one click!</h4>
        <h4>Quickly search through your completed work orders</h4>
        <h4>Easily see which work orders are sent, signed, and waiting to be completed</h4>
        <h4>Capture all your time with multiple start and stop times</h4>
      </div>
    </div>
  </div>
</section>


<section id="about" class="about featuresPanel">
  <div class="container" style="padding: 7em;">
    <div class="row animated fadeInUp">
      <div class="col-md-12 text-center">
        <h1 class="service-heading" style="font-weight: bold;font-family: 'Roboto Slab', serif;">About</h1>
        <p class="text-muted" style="padding-bottom: 2em;font-family: 'Roboto Slab', serif;">You are awesome</p>
      </div>
    </div>
    <div>
      <h5 class="about" style="font-family: 'Roboto Slab', serif;">The BetterWorkOrder app was created by ADVYON Business Technology, an IT Consulting Firm in Charleston, SC, because we could not find a way to enter a work order digitally, quickly, and efficiently.  We developed our own.  After two years of development, extensive testing and usage, we are now releasing it to you!
        Being a mobile-first, paperless, and innovative IT company, we needed our technicians to create a quick work order with detailed information without sending an invoice. We like to fix our client’s issues, take great notes, and go to the next client as quickly as possible. We needed a fast work order system which integrated with our Ticketing software and billing systems to accurately catch all of the data and easily create a work order without invoicing the client on-site. We wanted to be able to capture images and the client’s signature just like a paper work order.  So we set out to make the fastest work order app on the planet!
        BetterWorkOrder is designed for any service based company who does single or multiple work orders for clients which may be billed at a later time through your billing software. We aren’t trying to replace your invoicing software or bog you down with hundreds of steps!  Keep your clients, technicians, and admin staff on the same page with a work order delivered instantly to them all over e-mail.</h5>
    </div>
  </div>
</section>


<section id='uses' class="featuresPanel">
  <div class="container" style="padding: 7em;">
    <div class="row animated fadeInUp">
      <div class="col-md-12 text-center">
        <h1 class="service-heading" style="font-weight: bold;font-family: 'Roboto Slab', serif;">Frequent Uses</h1>
        <p class="text-muted" style="padding-bottom: 2em;font-family: 'Roboto Slab', serif;">You are awesome</p>
      </div>
    </div>
    <div>
      <h5 class="about" style="font-family: 'Roboto Slab', serif;">The BetterWorkOrder app was created by ADVYON Business Technology, an IT Consulting Firm in Charleston, SC, because we could not find a way to enter a work order digitally, quickly, and efficiently.  We developed our own.  After two years of development, extensive testing and usage, we are now releasing it to you!
        Being a mobile-first, paperless, and innovative IT company, we needed our technicians to create a quick work order with detailed information without sending an invoice. We like to fix our client’s issues, take great notes, and go to the next client as quickly as possible. We needed a fast work order system which integrated with our Ticketing software and billing systems to accurately catch all of the data and easily create a work order without invoicing the client on-site. We wanted to be able to capture images and the client’s signature just like a paper work order.  So we set out to make the fastest work order app on the planet!
        BetterWorkOrder is designed for any service based company who does single or multiple work orders for clients which may be billed at a later time through your billing software. We aren’t trying to replace your invoicing software or bog you down with hundreds of steps!  Keep your clients, technicians, and admin staff on the same page with a work order delivered instantly to them all over e-mail.</h5>
    </div>
  </div>
</section>

<% include ./partials/footer %>